<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       <bean id="tfsManager" class="com.taobao.common.tfs.DefaultTfsManager" init-method="init" >
              <!-- WebService Root Server的地址（提供服务节点列表） (必须配置）-->
              <!-- 日常：restful-store.daily.tbsite.net:3800 -->
              <!-- 线上：restful-store.vip.tbsite.net:3800 -->
              <!-- 性能：tfs-rc.perf.taobao.net:3800 -->
              <!-- 沙箱：tfs-rc.sandbox.host.cm4.tbsite.net:3800 -->
              <property name="rsAddr">
                     <value>restful-store.daily.tbsite.net:3800</value>
              </property>
              <!-- 应用注册的App Key，需申请，各环境通用 (必须配置）-->
              <property name="appKey">
                     <value>xxxxxxxx</value>
              </property>
              <!-- 允许的最大Http连接数 (可选配置）-->
              <property name="maxHttpConnTotal">
                     <value>100</value>
              </property>
              <!-- 每个服务节点允许的最大Http连接数 (可选配置）-->
              <property name="maxHttpConnPerRoute">
                     <value>20</value>
              </property>
              <!-- 设置连接超时时间（单位ms） (可选配置）-->
              <property name="connTimeout">
                     <value>3000</value>
              </property>
       </bean>
</beans>